<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cxf="http://cxf.apache.org/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <context:property-placeholder/>
    <context:annotation-config/>
    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer"/>
    <bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer"/>

    <bean class="org.wso2.carbon.identity.media.endpoint.impl.ContentApiServiceImpl"/>
    <bean class="org.wso2.carbon.identity.media.endpoint.impl.MeApiServiceImpl"/>
    <bean class="org.wso2.carbon.identity.media.endpoint.impl.PublicApiServiceImpl"/>
    <bean class="org.wso2.carbon.identity.media.endpoint.impl.UserApiServiceImpl"/>
    <bean class="org.wso2.carbon.identity.media.endpoint.common.MediaServiceConstants"/>
    <bean class="org.wso2.carbon.identity.media.endpoint.common.Util"/>
    <bean class="org.wso2.carbon.identity.media.endpoint.service.MediaService"/>

    <jaxrs:server id="services" address="/">
        <jaxrs:serviceBeans>
            <bean class="org.wso2.carbon.identity.media.endpoint.ContentApi"/>
            <bean class="org.wso2.carbon.identity.media.endpoint.MeApi"/>
            <bean class="org.wso2.carbon.identity.media.endpoint.PublicApi"/>
            <bean class="org.wso2.carbon.identity.media.endpoint.UserApi"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider">
                <constructor-arg>
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="serializationInclusion" value="NON_NULL" />
                    </bean>
                </constructor-arg>
            </bean>
            <bean class="org.wso2.carbon.identity.media.endpoint.exception.mapper.JsonProcessingExceptionMapper"/>
        </jaxrs:providers>
    </jaxrs:server>

</beans>
